# Mengabaikan dataset gambar mentah yang terlalu besar
data_mentah/Data Gambar Makanan Indonesia/
data_mentah/makanan_indonesia/food-tfk-images/
data_output/yolo_dataset
data_output/yolo_makanan_indonesia
data_output/yolo_merged_dataset/
data_output/merged_dataset
data_output/merged_dataset_final.zip
data_output/yoko_dataset_cleaned.zip

# Jika Anda memiliki file zip atau model yang besar, Anda juga bisa menambahkannya di sini
*.zip
*.rar
*.h5
*.pt
*.pth
*.weights
